{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
   <table id="table" style="width:100%" class="table table-striped">
       <thead><tr class="thead-dark">
           <th>Symbol</th>
           <th>Transaction Type</th></th>
           <th>Shares</th>
           <th>Price</th>
           <th>Transaction Date</th>
       </tr>
       </thead>
        <tbody>
            {% for row in history_rows %}
                <tr>
                    <td>{{ row["symbol"] }}</td>
                    <td>{{ row["type"] }}</td>
                    <td>{{ row["shares"] }}</td>
                    <td>${{ row["price"] }}</td>
                    <td>{{ row["transactionDate"] }}</td>
                </tr>
            {% endfor %}
        </tbody>
   </table>
{% endblock %}