{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <select class="form-group" id="symbol" name="symbol">
        <option value="" disabled selected>Select a stock you own:</option>
        {% for row in symbol_rows %}
        <option value="{{ row["symbol"]}}">{{ row["symbol"]}}</option>
        {%endfor%}
        </select>
        <div class="form-group">
            <input autocomplete="off" class="form-control" id="shares" name="shares" placeholder="Number of shares to sell" type="text">
        </div>
        <button class="btn btn-primary" id="submit" type="submit" disabled>Sell</button>
    </form>
    <script type="text/javascript" src="static/sell.js"></script>
{% endblock %}