.design
{
    font-family: monspace;
    text-align: center;
    font-size: 50px;
    color: black;
}
span
{
    border: 1px solid red;
    color: red;
}

body
{
    background-color: #7a6c6c;
}
.maplink
{
    margin-left: auto;
}

.food_design, .icp
{
    font-family: monspace;
    font-size: 50px;
    color: black;
}
select
{
    width: 150px;
    margin: 10px;
}

